<footer class="page-footer grey lighten-2">            
    <div class="container grey-text text-darken-3">
        &copy; 2016 PENCOM. All rights reserved.
        <a class="right" href="http://intellectualapps.com" target="blank">Intellectual Apps Ltd.</a>
    </div>            
</footer>
