<header>
    <nav class="top-nav grey lighten-2">
        <div class="nav-wrapper">
            <a class="page-title" style="margin-left: 10px; color: black;">PENCOM</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="javascript:void(0);" class="grey-text text-darken-3"><i class="material-icons left">verified_user</i>USER</a>
                </li>
            </ul>
      </div>      
    </nav>
    <div class="container">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
    </div>
    <ul id="nav-mobile" class="side-nav fixed grey lighten-2">
        <li class="logo">
            <a id="logo-container" href="#">
                <img id="front-page-logo" class="responsive-img" src="assets/images/logo.png" style="height: 80px;">
            </a>
        </li>
        <li>
            <a href="enroll.html" class="waves-effect waves-grey"><i class="material-icons left" style="margin-top: 6%;">people</i>Enroll</a>
        </li>
        <li>
            <a href="manage.html" class="waves-effect waves-grey"><i class="material-icons left" style="margin-top: 6%;">account_circle</i>Manage Account</a>
        </li>
        <li>
            <a href="logout.html" class="waves-effect waves-grey"><i class="material-icons left" style="margin-top: 6%;">power_settings_new</i>Log out</a>
        </li>
    </ul>
</header>
