<div class="row">
    <form id="searchForm">
        <input type="hidden" name="intention" value="search" />
        <div class="input-field col s10 m10 l10" style="padding: 0;">
            <input id="search-pen" type="search" required name="search-input" value="">
            <label for="search-pen"><i class="material-icons left" style="margin-top: -5px !important;">search</i> Search pensioner</label>
            <i class="material-icons">close</i>
        </div> 
        <div class="input-field col s2 m2 l2">
            <button type="button" class="waves-effect waves-light btn grey lighten-2 grey-text text-darken-2" onClick="searchPensioner()">
                Search<i class="material-icons left">search</i>
            </button>
        </div>
    </form>
</div>