<div id="addPrivilegeModal" class="modal">
    <form method="post" action="webbackend" id="addPrivilegeForm">
        <input type="hidden" id="addPrivilegeModalIntention" name="intention" value="add-privilege"> 
        <div class="modal-content">
            <h4 id="addPrivilegeModalHeader">Add Privilege</h4>
            <div class="input-field">
                <label for="privilege-id" id="privilegeIdLabel">Privilege ID</label>
                <input type="text" class="validate" id="privilege-id" name="privilege-id" required="" />
            </div>
            <div class="input-field">
                <label for="privilege-description" id="privilegeDescriptionLabel">Description</label>
                <input type="text" class="validate" id="privilege-description" name="privilege-description" required="" />
            </div>
            <div class="input-field">
                <label for="privilege-menuLink" id="privilegeMenuLinkLabel">Menu Link</label>
                <input type="text" class="validate" id="privilege-menuLink" name="privilege-menuLink" required="" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" name="addPrivilege" id="addPrivilegeButton" class="modal-action waves-effect waves-light btn red"><i class="material-icons left">save</i>Add Privilege</button>
            <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat grey lighten-2"><i class="material-icons left">close</i>Close</button>
        </div>
    </form>
</div>
