<div id="addRoleModal" class="modal">
    <form method="POST" action="webbackend" id="addRoleForm">
        <input type="hidden" id="addRoleModalIntention" name="intention" value="add-role">        
        <div class="modal-content">
            <h4 id="addRoleModalHeader">Add Role</h4>
            <div class="input-field">
                <label for="roleid" id="roleIdLabel">Role ID</label>
                <input type="text" class="validate" id="role-id" name="role-id" required="" />
            </div>
            <div class="input-field">
                <label for="rdescr" id="roleDescriptionLabel">Description</label>
                <input type="text" class="validate" id="role-description" name="role-description" required="" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" name="addRole" id="addRoleButton" class="modal-action waves-effect waves-light btn red"><i class="material-icons left">save</i>Add Role</button>
            <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat grey lighten-2"><i class="material-icons left">close</i>Close</button>
        </div>
    </form>
</div>
