<div id="addUserModal" class="modal">
    <form method="POST" action="webbackend" id="addUserForm">
        <input type="hidden" id="addUserModalIntention" name="intention" value="add-user">
        <div class="modal-content">
            <h4 id="addUserModalHeader">Add User</h4>
            <div class="input-field">
                <label for="username" id="usernameLabel">Username</label>
                <input type="text" class="validate" id="username" name="username" required="" />
            </div>
            <div class="input-field">
                <label for="fname" id="fnameLabel">First Name</label>
                <input type="text" class="validate" id="fname" name="first-name" required="" />
            </div>
            <div class="input-field">
                <label for="oname" id="onameLabel">Other Names</label>
                <input type="text" class="validate" id="oname" name="other-names" required="" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" name="addUser" id="addUserButton" class="modal-action waves-effect waves-light btn red"><i class="material-icons left">save</i>Add User</button>
            <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat grey lighten-2"><i class="material-icons left">close</i>Close</button>
        </div>
    </form>
</div>