<div id="deleteModal" class="modal">
    <div class="modal-content" id="deleteModalContent">

    </div>
    <div class="modal-footer">
        <button id="yesButton" onClick="" class="modal-action waves-effect waves-light btn red"><i class="material-icons left">thumb_up</i>YES</button>
        <button type="button" class="modal-action modal-close waves-effect waves-light btn-flat grey lighten-2"><i class="material-icons left">thumb_down</i>NO</button>
    </div>
</div>