/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 7, 2016, 12:19:24 AM
    Author     : buls
*/


input[type="text"], input[type="date"], input[type="number"], input[type="tel"], input[type="email"], input[type="search"], input[type="password"] {
    font-size: 1rem;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    height: 2.5rem;
}

input[type="search"] {
    background-color: white;
}

.input-field {
    line-height: 1rem;
}

select {
    height: 2.5rem;
}

fieldset .col {
    padding: 0;
}

input[type="text"], input[type="date"], input[type="number"], input[type="tel"], input[type="email"], input[type="search"], select {
    background-color: #dddddd;
}

fieldset > div > select[multiple="multiple"] {
    background-color: white;
}