/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Jun-2016, 13:25:57
    Author     : sadiq
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    /* for the top spacing */
    margin-top: 1.5%;
}

nav.top-nav{
    height:64px;
    box-shadow:none
}

nav.top-nav a.page-title{
    line-height:64px;
    font-size:32px
}

ul.side-nav.fixed {
    padding-top: 64px;
}

.bg {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#capture_video, #capture_canvas{
    border: 1px solid #CCC;
    width: 200px !important;
    height: 200px !important;
}

#capturePhotoBtn, #stopCameraBtn{
    display: none;
}

.active-tr{
    background-color: #f2f2f2;
}

.multiselect-option { 
    height: 100%;
    overflow: auto;
    border: none;
}

.multiselect-option option {
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #ececec;
    margin-bottom: 4px;
    border-radius: 2px;
}
